@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

body {
  font-family: system-ui;
  background: #000000;
  color: white;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-family: impact;
}

p {
  font-size: 20px;
}

figcaption {
  font-size: 12px;
}

nav ul {
  list-style: none;
  padding: 2px;
  magin: 0;
  display: inline-block;
}

nav ul li {
  background-color: transparent;
  background-image: url(images/toolbar_button.png);
  background-size: cover;
  float: left;
  border: 2px black;
}

nav ul li a {
  background-image: url(images/toolbar_button.png);
  background-size: cover;
  display: block;
  color: black;
  padding: 5px 8px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
  color: white;
  text-stroke: 1px white;
  -webkit-text-stroke: 1px white;
  background-color: aplha(blue, .8);
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;

  &:focus {
    color: $background-color;
    display: inline-block;
    height: auto;
    width: auto;
    position: static;
    margin: auto;
  }
  .screenreader-text:focus {
    color: black;
    display: inline-block;
    height: auto;
    width: auto;
    position: static;
    margin: auto;
  }
}

/* For devices with a minimum width of 768px (Medium) */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 25px;
  }

  figcaption {
    font-size: 18px;
  }
  nav ul li a {
    padding: 10px 12px;
  }
}

/* For devices with a minimum width of 992px (Large) */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 72px;
  }

  p {
    font-size: 38px;
  }

  figcaption {
    font-size: 24px;
  }
  nav ul li a {
    padding: 14px 16px;
  }
}
