body {
  font-family: Tahoma;
  background-image: url("images/bliss.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100vh;
  color: black;
  text-align: center;
}

#windowbody{
  display: flex;
  justify-content: center;
  align-items: center;
}
#window {
  border-bottom: 2px solid #0831d9;
  border-left: 3px solid #0831d9;
  border-right: 3px solid #001ea0;
  margin: 0 auto;
  box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9, inset -2px -2px #001ea0, inset 2px 2px #166aee,
    inset -3px -3px #003bda, inset 3px 3px #0855dd;
  padding: 0 0 3px 0;
  -webkit-font-smoothing: antialiased;
  width: fit-content;
}


.title-bar {
  position: relative;
}

.title-bar h1 {
  font-family: "Tahoma";
  background: linear-gradient(
    180deg,
    rgba(9, 151, 255, 1) 0%,
    rgba(0, 83, 238, 1) 8%,
    rgba(0, 80, 238, 1) 40%,
    rgba(0, 102, 255, 1) 88%,
    rgba(0, 102, 255, 1) 93%,
    rgba(0, 91, 255, 1) 95%,
    rgba(0, 61, 215, 1) 96%,
    rgba(0, 61, 215, 1) 100%
  );
  padding: 0;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  font-size: 13px;
  text-shadow: 1px 1px #0f1089;
  height: 28px;
  color: white;
  text-align: left;
  padding-left: 10px;
  margin: 0;
  line-height: 2;
}

.title-bar-controls {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: 100%;
}

.title-bar-controls button {
  width: 21px;
  height: 21px;
  margin: auto 2px auto 0;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  box-shadow: none;
}

.title-bar-controls button[aria-label="Minimize"] {
  background-image: url("images/minimize.svg");
}

.title-bar-controls button[aria-label="Minimize"]:hover {
  background-image: url("images/minimize-hover.svg");
}

.title-bar-controls button[aria-label="Maximize"] {
  background-image: url("images/maximize.svg");
}

.title-bar-controls button[aria-label="Maximize"]:hover {
  background-image: url("images/maximize-hover.svg");
}

.title-bar-controls button[aria-label="Close"] {
  background-image: url("images/close.svg");
}

.title-bar-controls button[aria-label="Close"]:hover {
  background-image: url("images/close-hover.svg");
}

h2 {
  background-image: url("images/toolbar.png");
  background-size: cover;
  font-size: 20px;
  text-align: left;
  margin: 0;
  padding: 5px;
  padding-left: 10px;
}

main {
  background-color: white;
  width: fit-content;
  margin: 0 auto;
}

p {
  font-size: 16px;
  margin-top: 0;
  margin-left: 1%;
  margin-right: 1%;
}

img {
  width: 100%;
  max-width: 800px;
  height: auto;
  padding: 0;
  margin: 0;
}

.imgflexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

figcaption {
  font-size: .5em;
}

nav {
  background-image: url("images/toolbar.png");
  background-size: cover;
  background-position: center;
}

nav ul {
  border: 1px inset;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1px;
  align-items: center;
}

nav ul li {
  background: none;
  border: 0;
  padding: 0;
}

nav ul li a {
  display: inline-block;
  background-image: url("images/toolbar_button.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px 9px;
  color: black;
  text-decoration: none;
  line-height: 1;
}

nav ul li a:hover {
  box-shadow: inset 0 0 10px 1000px rgba(0, 0, 0, .1);
  background-image: url("images/toolbar_button_active.png");
  text-decoration: underline;
  color: black;
}

footer {
  font-family: "Tahoma";
  background: linear-gradient(
    180deg,
    rgba(9, 151, 255, 1) 0%,
    rgba(0, 83, 238, 1) 8%,
    rgba(0, 80, 238, 1) 40%,
    rgba(0, 102, 255, 1) 88%,
    rgba(0, 102, 255, 1) 93%,
    rgba(0, 91, 255, 1) 95%,
    rgba(0, 61, 215, 1) 96%,
    rgba(0, 61, 215, 1) 100%
  );
  display: flex;
  align-items: center;
  height: 24px;
  padding: 0; 
  margin: 0;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  color: white;
  text-shadow: 1px 1px #0f1089;
  line-height: 1;
  gap: 0px; 
  box-sizing: border-box;
}

footer button {
  width: 74px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  display: block; 
  padding-top: 20px;
}

footer button[aria-label="start"] {
  background-image: url("images/start.png");
}

.taskbtn {
  display: flex;
  align-items: center;
  background-image: url("images/task_button.png");
  background-size: cover;
  height: 24px;
  padding: 0 10px;
  margin: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

.taskbtn:hover {
  background-image: url("images/task_button-hover.png");
}

.taskbtn p {
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 12px;
  color: white;
  line-height: 20px; 
  white-space: nowrap;
}

.taskbtn a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px; 
  white-space: nowrap;
}


.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}

.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 34px;
  }

  p {
    font-size: 25px;
  }

  figcaption {
    font-size: 18px;
  }

  nav ul li a {
    padding: 10px 10px;
    line-height: .25;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 32px;
  }

  p {
    font-size: 20px;
  }

  figcaption {
    font-size: 24px;
  }

  nav ul li a {
    padding: 8px 8px;
    line-height: .5;
  }

  .imgflexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
